body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    color:aquamarine;
    text-decoration: none;
}

main {
    font-size: 18px;
    padding: 20px;
}

footer{
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  body{
    background-color: burlywood;
  }
  

